<section class="horizontal-card-section about-section ">
  <div class="horizontal-card">
    <div class="card-image">
      <img src="/image/inro1.avif" alt="ServiceCo Introduction">
    </div>
    <div class="card-content">
      <h2>Introduction</h2>
      <p>
        At Projexel, we are committed to powering progress across Saudi Arabia through reliable manpower solutions, cutting-edge equipment rental, and efficient transportation services. With deep roots in the Kingdom and a vision for growth, we support industries ranging from construction and oil & gas to logistics and infrastructure.

Founded with a focus on quality, safety, and service excellence, Projexel delivers skilled and semi-skilled workforce solutions that meet the highest industry standards. Our comprehensive fleet of modern equipment and vehicles ensures seamless operations and on-time project execution for clients across the region.

Driven by innovation and guided by integrity, Projexel is more than a service provider—we are your strategic partner in building success. Whether you're looking to scale your workforce, rent specialized machinery, or streamline logistics, we bring the expertise and resources to keep your projects moving forward.

      </p>
    </div>
  </div>
</section>
