<section id="mission" class="horizontal-card-section about-section ">
  <div class="horizontal-card">
    <div class="card-image" data-aos="fade-right">
      <img src="/image/mission.avif" alt="Our Mission">
    </div>
    <div class="card-content" data-aos="fade-up">
      <h2>Our Mission</h2>
      <p>
        To be Saudi Arabia’s leading partner in manpower, equipment rental, and transportation services—empowering industries to build a stronger, more efficient future through innovation, reliability, and excellence.

      </p>
    </div>
  </div>
</section>
