<section id="vision" class="horizontal-card-section about-section">
  <div class="horizontal-card animated-card">
    <div class="card-image animate-fade-in-left">
      <img src="/image/vision.avif" alt="Our Vision">
    </div>
    <div class="card-content animate-slide-in-up">
      <h2>Our Vision</h2>
      <p>
       At Projexel, our mission is to deliver high-quality workforce solutions, reliable equipment, and efficient transportation services that exceed client expectations. We are dedicated to supporting the growth of Saudi industries by maintaining the highest standards of safety, service, and operational excellence.
      </p>
    </div>
  </div>
</section>
